* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 14px;
  min-height: 0px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#custom-launcher {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px 20px 5px 20px;
  border: solid 2px;
  border-color: #A4C639;
  transition: background 0.3s ease,
  border-radius 0.3s ease;
  background: #141914;
  color: #A4C639;
}

#custom-launcher:hover {
  border-radius: 20px 5px 20px 5px;
  background: #A4C639;
  color: #141914;
}

#custom-spotify {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px 20px 5px 20px;
  border: solid 2px;
  border-color: #A4C639;
  transition: background 0.3s ease-in-out,
  border-radius 0.3s ease-in-out;
  background: #141914;
  color: #A4C639;
}	

#custom-spotify:hover {
  border-radius: 20px 5px 20px 5px;
  background: #484a4a;
  background: #A4C639;
  color: #141914;
}


#clock {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px 5px 20px 20px;
  border: solid 2px;
  border-color: #A4C639;
  transition: background 0.3s ease,
  border-radius 0.3s ease;
  background: #141914;
  color: #A4C639;
}

#clock:hover {
  border-radius: 20px 20px 5px 5px;
  background: #A4C639;
  color: #141914;
}

#network {
  margin-right: 8px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 20px 5px 20px 5px;
  border: solid 2px;
  border-color: #A4C639;
  transition: background 0.3s ease,
  border-radius 0.3s ease;
  background: #141914;
  color: #A4C639;
}


#network:hover {
  border-radius: 5px 20px 5px 20px;
  background: #A4C639;
  color: #141914;
}

#pulseaudio {
  margin-right: 8px;
  border-radius: 20px 5px 20px 5px;
  padding-left: 0px;
  padding-right: 0px;
  border: solid 2px;
  border-color: #A4C639;
  transition: background 0.3s ease,
  border-radius 0.3s ease;
  background: #141914;
  color: #A4C639;
}

#pulseaudio:hover {
  border-radius: 5px 20px 5px 20px;
  background: #A4C639;
  color: #141914;
}

#tooltip {
  background: #141914;
  color: #A4C639;
}

#tray {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 20px 10px 10px 5px;
  border: solid 2px;
  border-color: #A4C639;
  transition: background 0.3s ease,
  border-radius 0.3s ease;
  background: #141914;
  color: #A4C639;
}

#tray:hover {
  border-radius: 5px 20px 5px 20px;
  background: #A4C639;
  color: #141914;
}


@keyframes blink {
  to {
    background-color: #ffffff;
    color: #484a4a;
  }
}
