* {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 13px;
  color: #a4c639;
  background: transparent;
}

window#waybar {
  background-color: #0c0f0c;
  border-bottom: 2px solid #a4c639;
  padding: 4px;
}

#workspaces button {
  background: transparent;
  color: #a4c639;
  border: none;
  padding: 0 10px;
}

#workspaces button.active {
  background: #1a1d1a;
  border-radius: 5px;
  box-shadow: inset 0 0 4px #a4c639;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#custom-* {
  padding: 0 10px;
  background: transparent;
}

#pulseaudio.muted {
  color: #888;
}

#tray > * {
  padding: 0 5px;
}
